astroid==2.4.2
biopython==1.78
Brotli==1.0.9
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
common==0.1.2
dash==1.18.1
dash-bootstrap-components==0.11.1
dash-core-components==1.14.1
dash-html-components==1.1.1
dash-renderer==1.8.3
dash-table==4.11.1
flake8==3.8.4
Flask==1.1.2
Flask-Compress==1.8.0
future==0.18.2
idna==2.10
ipykernel==5.3.4
isort==5.6.4
itsdangerous==1.1.0
Jinja2==2.11.2
jupyter-client==6.1.7
jupyter-core==4.7.0
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
mccabe==0.6.1
mkl-fft==1.2.0
mkl-random==1.1.1
mkl-service==2.3.0
numpy==1.19.4
pandas==1.1.5
plotly==4.14.1
python-igraph==0.8.3
requests==2.25.1

